a{
    text-decoration: none;
    color: black;
}

.header_events{
    margin-bottom: 0.5rem;
}
.header_stats{
    margin-bottom: 1rem;
}

.bg-secondary{
    background-color: rgb(155, 155, 155) !important;    
}

a.navbar-brand{
    width: 20%;
}
 h1.title{
    width: auto;
}

.btn_nav{
    width: 7rem;
    height: 3rem;
    padding: 0 1.5rem !important;
    margin: 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.898);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.25rem;
}

.search_input{
    width: 80%;
    border-radius: 0.25rem;
}

.search_button{
    border: none;
    background: none;
}

.search_button img{
    width: 50px;
}

footer{
    padding: 0.65rem;
}
.bg-light{
    background-color: #d4d4d4 !important;
}

.logo_social{
    width: 50px;
}

div.form-check{
    width: auto;
}

.img_card{
    width: calc(100% - 2rem);
    height: 9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
}

.img-details{
    width: calc(50% - 2rem);
    height: 50vh;
    margin: 1rem;
    overflow: hidden;
}

.img-details img{
    height: 100%;
    width: auto;
}

.column-width-1{
    width: 37.5%;
}

.card-details-body{
    width: calc(50% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
}

.description{
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem;
}
.card-text-details{
    width: calc(50% - 2rem);
    margin: 0rem 1rem;
    font-weight: bold;
}

.card-text-details span{
    font-weight: lighter;
}

/* #card_container div div{
    height: 70%;
} */

.card-body{
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .img-details{
        width: calc(100% - 2rem);
        height: 40vh;
    }
    .img-details img{
        width: 100%;
    }
    .card-details-body{
        width: calc(100% - 2rem);
        height: calc(70% - 2rem);
    }

    .card{
        margin: 1.5rem 0;
    }
  }

  @media (max-width: 576px){
    .logo_header{
        display: none;
    }
    .icono_header{
        height: 50px;
    }
    .img-details{
        height: 30vh;
    }

    .title span:first-child , .title span:last-child{
        display: none;
    }
  }

  @media(min-width: 577px){
    .icono_header{
        display: none;
    }
  }